html{
	box-sizing:border-box;
	margin:0;
	border:0;
	padding: 0;
}

body{
	font-family: "Open Sans", "Lato", Arial, Sans-serif;
	background-color: beige;
	padding: 0;
}

section{
	padding: 0 0 20px 0;
	margin: 0;

}

.navbar-inverse{
	color:white !important;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 16px;
	opacity: 0.8;
	border:transparent;
	letter-spacing: 2px;
}

.navbar-brand{
	font-size: 20px;
	border:transparent;
	letter-spacing: 2px;
}

.carousel h3,p {
	color: #fff;
	font-weight: bold;
}

.container-fluid h3{
	text-transform: uppercase;
}

.container-fluid{
	padding-top: 50px;
}

.container-fluid p{
	color: #000;	
}

.img-circle{
	height: 200px;
	width: 200px;
}

footer img{
	height: 25px;
	width: 25px;
}
footer{
	background-color: orange	;
	background: -webkit-linear-gradient(left, orange, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,orange, white); /* Standard syntax */
    color: #000;
}

#tourism {
	background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,lightblue, white); /* Standard syntax */
    color: #000;
  }

#history {
	background: #f9dda2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #f9dda2, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f9dda2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f9dda2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#f9dda2, white); /* Standard syntax */
    color: #000;
  }

#events{
	background: #ffb3b3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffb3b3, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffb3b3, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffb3b3, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#ffb3b3, white); /* Standard syntax */
    color: #000;

}

#googleMap{
	width: 100%;
	height: 400px;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%); 
}

#contact{
	background: Azure; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, Azure, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, Azure, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, Azure, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,Azure, white); /* Standard syntax */
    color: #000;
}
